main{
	min-height: 300px;
}
main>section:first-child{
	background-color: white;
	width: 60%;
	min-height: 65vh;
	min-width: 300px;
	margin: auto;
	text-align: center;
	margin-top: 2vh;
	padding: 10px;
	box-shadow: 3px 3px 3px black;
}
section.articles{
	text-align: center;
}
section.articles h2{
	margin-top: 10px;
}
section h2{
	margin: 3px;
}
section label{
	display: block;
 	width: 0px;
 	height: 0px;
 	opacity: 0;
}
section input[type="text"], section input[type="password"]{
	width: 90%;
	border:0px;
	border-bottom: 1px solid #222222;
	padding: 5px 5px;
	margin-bottom: 2px;
	font-size: 1.1em;
}
section input[type="date"]{
	width: 40%;
	border:0px;
	border-bottom: 1px solid #222222;
	padding: 5px 5px;
	margin-bottom: 2px;
	font-size: 1.1em;
}
section input[type="text"]:hover, section input[type="date"]:hover{
	padding-left: 4px;
	border-left: 1px solid grey;
}
section input[type="text"]:focus, section input[type="date"]:focus{
	outline: none;
	border-bottom: 2px solid #333333;
	margin-bottom: 1px;
}
section input[type="submit"]{
	width: 90%;
	margin-top: 10px;
	padding: 5px;
	font-size: 1.1em;
	background-color: #cccccc;
	border: 0px;
	font-weight: bold;
}
section input[type="submit"]:hover{
	background-color: #aaaaaa;
}
section>div a{
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  background-color: lightgrey;
}
output{
	display: block;
	text-align: center;
	width: 100%;
}
#volver{
	margin: auto;
	display: block;
	position: absolute;
	top:40%;
	left:50%;
	font-size: 4vh;
	width:30vh;
	height: 20vh;
	color:#000000;

}
#overlay{
	text-align: center;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	background-color: rgba(93, 93, 124, 0.6);
    transition: 0.5s;
    overflow-x: hidden;
}
.thumb{
	width: 50%;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
textarea{
	width:30vw;
}
@media screen and (min-width: 480px) and (max-width: 1000px){
	main>section{
		margin-top: 10vh;
	}
}
@media screen and (min-width: 1000px){
	main>section{
		margin-top: 20vh;
	}
}