main{
	min-height: 320px;
}
main>section{
	background-color: white;
	width: 30%;
	min-width: 300px;
	margin: auto;
	text-align: center;
	margin-top: 0vh;
	padding: 10px;
	box-shadow: 3px 3px 3px black;
}
section h2{
	margin: 3px;
}
section label{
	display: block;
 	width: 0px;
 	height: 0px;
 	opacity: 0;
}
section input[type="text"], section input[type="password"], section input[type="email"]{
	width: 90%;
	border:0px;
	border-bottom: 1px solid #222222;
	padding: 5px 5px;
	margin-bottom: 2px;
	font-size: 1.1em;
}
section input[type="text"]:hover, section input[type="password"]:hover, section input[type="email"]:hover{
	padding-left: 4px;
	border-left: 1px solid grey;
}
section input[type="text"]:focus, section input[type="password"]:focus, section input[type="email"]:focus{
	outline: none;
	border-bottom: 2px solid #333333;
	margin-bottom: 1px;
}
section input[type="submit"]{
	width: 90%;
	margin-top: 10px;
	padding: 5px;
	font-size: 1.1em;
	background-color: #cccccc;
	border: 0px;
	font-weight: bold;
}
section input[type="submit"]:hover{
	background-color: #aaaaaa;
}
nav .cat{
	display: none;
}
@media screen and (min-width: 480px) and (max-width: 1000px){
	main>section{
		margin-top: 5vh;
	}
}
@media screen and (min-width: 1000px){
	nav{
		display: none;
	}
	main>section{
		margin-top: 10vh;
	}
}