main{
	min-height: 320px;
}
main>section{
	background-color: white;
	width: 30%;
	min-width: 300px;
	margin: auto;
	text-align: center;
	margin-top: 0vh;
	padding: 10px;
	box-shadow: 3px 3px 3px black;
}
section h2{
	margin: 3px;
}
form b{
	position: fixed;
    left: 55vw;
    display: block;
    background-color: white;
    border-radius: 2px;
    padding: 3px;
    box-shadow: 1px 1px 3px;
    color: red;
    display: none;
}
section label{
	display: block;
 	width: 0px;
 	height: 0px;
 	opacity: 0;
}
section input[type="text"], section input[type="password"], section input[type="email"]{
	width: 90%;
	border:0px;
	border-bottom: 1px solid #222222;
	padding: 5px 5px;
	margin-bottom: 2px;
	font-size: 1.1em;
}
section input[type="text"]:hover, section input[type="password"]:hover, section input[type="email"]:hover{
	padding-left: 4px;
	border-left: 1px solid grey;
}
section input[type="text"]:focus, section input[type="password"]:focus, section input[type="email"]:focus{
	outline: none;
	border-bottom: 2px solid #333333;
	margin-bottom: 1px;
}
section input[type="submit"]{
	width: 90%;
	margin-top: 10px;
	padding: 5px;
	font-size: 1.1em;
	background-color: #cccccc;
	border: 0px;
	font-weight: bold;
}
section input[type="submit"]:hover{
	background-color: #aaaaaa;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay-content:hover, .overlay-content:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay-content {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
@media screen and (min-width: 480px) and (max-width: 1000px){
	main>section{
		margin-top: 5vh;
	}
}
@media screen and (min-width: 1000px){
	main>section{
		margin-top: 10vh;
	}
}