main{
	min-height: 300px;
}
main>section:first-child{
	background-color: white;
	width: 30%;
	min-width: 300px;
	margin: auto;
	text-align: center;
	margin-top: 2vh;
	padding: 10px;
	box-shadow: 3px 3px 3px black;
}
section.articles{
	text-align: center;
}
section.articles h2{
	margin-top: 10px;
}
section h2{
	margin: 3px;
}
section label{
	display: block;
 	width: 0px;
 	height: 0px;
 	opacity: 0;
}
section input[type="text"], section input[type="password"]{
	width: 90%;
	border:0px;
	border-bottom: 1px solid #222222;
	padding: 5px 5px;
	margin-bottom: 2px;
	font-size: 1.1em;
}
section input[type="date"]{
	width: 40%;
	border:0px;
	border-bottom: 1px solid #222222;
	padding: 5px 5px;
	margin-bottom: 2px;
	font-size: 1.1em;
}
section input[type="text"]:hover, section input[type="date"]:hover{
	padding-left: 4px;
	border-left: 1px solid grey;
}
section input[type="text"]:focus, section input[type="date"]:focus{
	outline: none;
	border-bottom: 2px solid #333333;
	margin-bottom: 1px;
}
section input[type="submit"]{
	width: 90%;
	margin-top: 10px;
	padding: 5px;
	font-size: 1.1em;
	background-color: #cccccc;
	border: 0px;
	font-weight: bold;
}
section input[type="submit"]:hover{
	background-color: #aaaaaa;
}
article{
  text-align: left;
  background-color: white;
  margin: 10px;
  box-shadow: 3px 3px 3px black;
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
article img {
  width: 100%;
  max-height: 40vw;
}
article .abody{
  padding: 5px;
}
article .afooter{
  margin: 5px;
  border-top: 1px solid lightgrey;
}
article .afooter p {
  display: inline-block;
  width: 49%;
  margin: 5px 0px;
}
article .afooter p:nth-child(even){
  text-align: right;
}
section>div a{
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  background-color: lightgrey;
}
#articles{
	height: 30px;
}
@media screen and (min-width: 480px) and (max-width: 1000px){
	main>section{
		margin-top: 10vh;
	}
}
@media screen and (min-width: 1000px){
	main>section{
		margin-top: 20vh;
	}
}