/*COLORES
#826bb2
#677dc6
#4d8ac6
*/

* {
  box-sizing:border-box;
}
html, body{
  margin: 0px;
  padding: 0px;
}
html{
  min-height: 100%;
  position: relative;
}
body{
  height: 100%;
  background-color: #4d8ac6;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
	color: #6e7577 ;
}
a:hover{
  color: #4d8ac6;
}
/*Cabecera*/
header{
  background-color: #375777;
  position: relative;
  height: 50px;
}
header>input[type="checkbox"]{
  position:absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 5px;
  opacity: 0;
}
header>input[type="checkbox"]:checked ~ nav {
  left:0px; 
}
header>label {
  position:absolute;
  width: 40px;
  height: 40px;
  top: 5px; 
  left: 5px; 
  line-height:1.1;
  text-align:center;
  border-radius:3px;
  background-color: #142b25;
  transition: all .7s ease; 
  z-index:10;
}
header>label::before {
  content:"☰";
  font-size:40px;
  color:white;
}
nav{
  position: absolute;
  width:75vw;
  top:50px;
  left:-80vw; 
  background-color: #2d2d2d;
  border-right:4px solid rgba(114, 126, 3, 1);
  border-bottom:4px solid rgba(114, 126, 3, 1);
  transition:all .7s ease; 
}
nav input[type='text']{
  width:100%;
  height: 50px;
  border: 0px;
  font-size: 2em;
  color:#c9c9c9;
  padding-left:40px;
  border-bottom: 1px solid black;
  border-color: #636363;
  background-size: 25px;
  background-color:#000000; 
  background-image: url('../img/lupa.png');
  background-repeat: no-repeat;
  background-position: 10px 12px;
}
nav input[type='text']:hover{
  background-color: #222222;
}
nav input[type='text']:focus{
  outline: none;
  background-color: #444444;
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  color: #6e7577;
}
nav ul li.item {
  display: inline-block;
  width: 49%;
  border-bottom: 1px solid grey;
}
nav ul li.item a {
  display: block;
  padding: 3px;
}
nav ul li.item a:hover {
  background-color: #3e3e3e;
}
nav ul li.info, nav ul li.cat{
  border-bottom: 1px solid grey;
}
nav ul li.info a, nav ul li.cat a{
  display: block;
  padding: 8px;
}
nav ul li.info a:hover, nav ul li.cat a:hover{
  background-color: #3e3e3e;
}
nav ul li a h1 {
  font-size: 1em;
  margin: 5px 3px 3px 3px;
}
nav ul li p {
  font-size: 1.1em;
  margin: 3px;
}
nav ul li a {
  font-size: 7vw;
}
nav ul li.active{
  background-color: #3e3e3e;
}
/*Cuerpo*/
main{
  padding: 5px;
  margin-bottom: 280px;
  min-height: 700px;
}
/*Pie*/
footer{
  padding: 5px;
  background-color: grey;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
footer>div{
  display: inline-block;
  width: 49%;
  padding: 5px;
  border-left: 1px solid lightgrey;
  vertical-align: top;
  min-width: 150px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
footer>div a{
  color: #222222;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
footer>div h2, footer>p{
  margin: 0px 0px;
}
/*Clases*/
.headerlinks{
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
}
.headerlinks a{
  background-color: #666666;
  line-height: 1.5em;
    box-shadow: 2px 2px 2px black;
}
.headerlinks a.active{
  background-color: #777777;
}
.logo{
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 100%;
}
.logo img{
  height: 100%;
  margin-bottom: -4px;
}
.headerinfo h1, .headerinfo p {
  vertical-align: top;
  display: none;
}
@media screen and (min-width: 480px) and (max-width: 1000px) {
  nav{
    width: 50vw;
    top: 84px;
  }
  nav ul li h1 {
    font-size: 2em;
    margin: 5px 3px 3px 3px;
  }
  nav ul li a {
    font-size: 5vw;
  }
  nav ul li.item{
    display: none;
  }
  main{
    margin-top: 35px;
    margin-bottom: 220px;
  }
  .headerlinks{
    display: block;
    width: 100%;
    top: 50px;
    background: #375777;
    text-align: center;
    padding: 5px 0px;
  }
  .headerlinks a {
    display: inline-block;
    width: 24%;
    text-align: left;
    color: #222222;
  }
  .headerlinks a i {
    float: left;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  header{
    height: 80px;
  }
  header>input[type="checkbox"]{
    display: none;
  }
  header>label{
    display:none;
  }
  nav{
    top: 80px;
    left:0vw;
    width:21vw;
    min-height: 60vh;
  }
  nav ul li h1 {
    font-size: 1.5em;
    margin: 5px 3px 3px 3px;
  }
  nav ul li a {
    font-size: 1.2em;
  }
  nav ul li.info, nav ul li.item {
    display: none;
  }
  nav ul li.item i.material-icons{
    float: left;
  }
  main {
    min-height: 60vh;
    margin-bottom: 200px;
    margin-left: 21vw;
  }
  .logo{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: auto;
    height: 80px;
  }
  .headerinfo {
    display: inline-block;
    vertical-align: middle;
  }
  .headerinfo h1, .headerinfo p{
    display: block;
  }
  .headerlinks{
    display: block;
    width: 26vw;
    margin-top: 10px;
  }
  .headerlinks a{
    display: inline-block;
    padding: 1px;
    border: 1px solid lightgrey;
    width: 12vw;
    margin: 1px;
    color: lightgrey;
    font-weight: bold;
  }
  .headerlinks a:hover{
    background-color: #3e3e3e;
  }
  .headerlinks a i{
    float: left;
  }
  .headerinfo h1, .headerinfo p{
    margin: 1px;
  }
}
@media screen and (min-width: 1400px) {
  header{
    height: 100px;
  }
  header>input[type="checkbox"]{
    display: none;
  }
  header>label{
    display:none;
  }  
  nav{
    top: 100px;
    left:0vw;
    width:15vw;
    min-height: 65vh;
  }
  main{
    min-height: 65vh;
    margin-bottom: 200px;
	margin-left: 15vw;
  }
  nav ul li h1 {
    font-size: 1.5em;
    margin: 5px 3px 3px 3px;
  }
  nav ul li a {
    font-size: 1.2em;
  }
  nav ul li.info, nav ul li.item {
    display: none;
  }
  nav ul li.item i.material-icons{
    float: left;
  }
  .logo{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: auto;
    height: 100%;
  }
  .headerinfo {
    display: inline-block;
    vertical-align: middle;
  }
  .headerinfo h1, .headerinfo p{
    display: block;
  }
  .headerlinks{
    display: block;
    width: 16vw;
    margin-top: 10px;
  }
  .headerlinks a{
    display: inline-block;
    padding: 3px;
    border: 1px solid lightgrey;
    width: 7vw;
    margin: 3px;
    color: lightgrey;
    font-weight: bold;
  }
  .headerlinks a:hover{
    background-color: #3e3e3e;
  }
  .headerinfo h1, .headerinfo p{
    margin: 10px;
    margin-top: 0px;
  }
  .headerlinks a i{
    float: left;
  }
}