/*COLORES
#826bb2
#677dc6
#4d8ac6
*/


* {
  box-sizing:border-box;
}
html, body{
  background-color: #4d8ac6;
  margin: 0px;
  padding: 0px;
  font-family: arial;
}
a{
  text-decoration: none;
	color: #6e7577 ;
}
a:hover{
  color: #4d8ac6;
}
header{
  background-color: #375777;
}
nav{
  position:absolute;
  background-color: #2d2d2d;
  top:12vw;
  border-right:4px solid rgba(114, 126, 3, 1);
}
nav input[type=text]{
  width:100%;
  border: 0px;
  font-size: 2em;
  color:#c9c9c9;
  margin-bottom: 20px;
  padding-left:10%;
  border-bottom: 1px solid black;
  border-color: #636363;
  background-size: 3VH;
  background-color:#000000; 
  background-image: url('lupa.png');
  background-repeat: no-repeat;
  background-position: 5px 8px;
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  color: #6e7577;
}
nav ul li h1 {
  font-size: 2.5em;
  margin: 3px;
}
nav ul li p {
  font-size: 1.1em;
  margin: 3px;
}
nav ul li a {
  font-size: 2em;
  padding-left:25px;
  margin-top:25px;
  margin-bottom:25px;
}
.logo{
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 12vw;
}
.logo img{
  height: 100%;
  margin-bottom: -4px;
}
.title {
  display: inline-block;
  vertical-align: top;
}
@media screen and (min-width: 800px) {
  main{
    margin-left: 21vw;
  }
  .logo{
    width: 25vw;
    text-align: left;
  }
  .logo img{
  }
	.checkbox{
		display: none;
	}
	.menu-toogle{
		display:none;
	}
	nav{
    width:21vw;
    height:80vh;
    left:0vw;
	}
	.articulos{
		left:20vw;
	}
}
@media screen and (max-width: 800px) {
  .title{
    display: none;
  }
	.checkbox{
		width:50px;
		height: 50px;
		position:absolute;
		top: 2vw;
		left: 2vw;
		opacity: 0;
	}
  .menu-toogle {
    position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 50px;
    line-height:1.1;
    text-align:center;
    top: 2vw; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    left: 2vw; 
    border-radius:3px;
    background-color: #142b25;
    transition: all .7s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
    z-index:10;
  }
  /*Añadimos la haburguesa y le damos unos estilos*/
  .menu-toogle::before {
    content:"☰";
    font-size:32px;
    color:white;
  }
  nav {
    width:75vw;
    height:100vh;
    left:-80vw; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos*/
    transition:all .7s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
  }
  .checkbox:checked ~ nav {
    left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
  }
}