/*COLORES
#826bb2
#677dc6
#4d8ac6
*/

* {
  box-sizing:border-box;
}
html, body{
  background-color: #4d8ac6;
  margin: 0px;
  padding: 0px;
  font-family: arial;
  min-height: 100%;
  position: relative;
}
a{
  text-decoration: none;
	color: #6e7577 ;
}
a:hover{
  color: #4d8ac6;
}
/*Cabecera*/
header{
  background-color: #375777;
  min-height: 90px;
}
nav{
  position:absolute;
  background-color: #2d2d2d;
  top:12vw;
  border-right:4px solid rgba(114, 126, 3, 1);
  border-bottom:4px solid rgba(114, 126, 3, 1);
  width:75vw;
  height: 70%;
  left:-80vw; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos*/
  transition:all .7s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
}
nav input[type='text']{
  width:100%;
  height: 50px;
  border: 0px;
  font-size: 2em;
  color:#c9c9c9;
  padding-left:40px;
  border-bottom: 1px solid black;
  border-color: #636363;
  background-size: 25px;
  background-color:#000000; 
  background-image: url('lupa.png');
  background-repeat: no-repeat;
  background-position: 10px 12px;
}
nav input[type='text']:hover{
  background-color: #222222;
}
nav input[type='text']:focus{
  outline: none;
  background-color: #444444;
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  color: #6e7577;
}
nav ul li.item {
  display: inline-block;
  width: 49%;
  border-bottom: 1px solid grey;
}
nav ul li.item a {
  display: block;
  padding: 3px;
}
nav ul li.item a:hover {
  background-color: #3e3e3e;
}
nav ul li.info, nav ul li.cat{
  border-bottom: 1px solid grey;
}
nav ul li.info a, nav ul li.cat a{
  display: block;
  padding: 8px;
}
nav ul li.info a:hover, nav ul li.cat a:hover{
  background-color: #3e3e3e;
}
nav ul li h1 {
  font-size: 2em;
  margin: 5px 3px 3px 3px;
}
nav ul li p {
  font-size: 1.1em;
  margin: 3px;
}
nav ul li a {
  font-size: 7vw;
}
/*Cuerpo*/
main{
  padding: 5px;
}
section>h2{
  text-align: center;
}
section .comments {
  height: 20vh;
  width: 95%;
  overflow-y: auto;
  background-color: #888888;
  margin: auto;
}
section .comments>div{
  background-color: #CCCCCC;
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px black;
}
section.articles{
  text-align: center;
}
article{
  text-align: left;
  background-color: white;
  margin: 10px;
  box-shadow: 3px 3px 3px black;
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
article img {
  width: 100%;
  max-height: 30vh;
}
article .abody{
  padding: 5px;
}
article .afooter{
  margin: 5px;
  border-top: 1px solid lightgrey;
}
article .afooter p {
  display: inline-block;
  width: 49%;
  margin: 5px 0px;
}
article .afooter p:nth-child(even){
  text-align: right;
}
/*Pie*/
footer{
  padding: 5px;
  background-color: grey;
  width: 100%;
}
footer>div{
  display: inline-block;
  width: 49%;
  padding: 5px;
  border-left: 1px solid lightgrey;
  vertical-align: top;
  min-width: 150px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
footer>div a{
  color: #222222;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
footer>div h2, footer>p{
  margin: 5px 0px;
}
/*Clases*/
.headerlinks{
  display: none;
  position: absolute;
  right: 0px;
  top: 5px;
}
.headerlinks a{
  background-color: #666666;
  line-height: 1.5em;
}
.logo{
  display: inline-block;
  text-align: center;
  height: 12vw;
  width: 100%;
}
.logo img{
  height: 100%;
  margin-bottom: -4px;
}
.title, .subtitle {
  vertical-align: top;
  display: none;
}
.checkbox{
  width: 10vw;
  height: 10vw;
  position:absolute;
  top: 1vw;
  left: 1vw;
  opacity: 0;
}
.menu-toogle {
  position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
  width: 10vw;
  height: 10vw;
  line-height:1.1;
  text-align:center;
  top: 1vw; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
  left: 1vw; 
  border-radius:3px;
  background-color: #142b25;
  transition: all .7s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
  z-index:10;
}
/*Añadimos la haburguesa y le damos unos estilos*/
.menu-toogle::before {
  content:"☰";
  font-size:10vw;
  color:white;
}
.checkbox:checked ~ nav {
  left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  nav{
    width: 50vw;
  }
  nav ul li h1 {
    font-size: 2em;
    margin: 5px 3px 3px 3px;
  }
  nav ul li a {
    font-size: 5vw;
  }
  section>article{
    width: 45%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  nav{
    top: 12vh;
    width:21vw;
    left:0vw;
  }
  nav ul li h1 {
    font-size: 1.5em;
    margin: 5px 3px 3px 3px;
  }
  nav ul li a {
    font-size: 1.2em;
  }
  nav ul li.info, nav ul li.item {
    display: none;
  }
  nav ul li.item i.material-icons{
    float: left;
  }
  .logo{
    height: 12vh;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: auto;
  }
  .headerinfo {
    display: inline-block;
    vertical-align: middle;
  }
  .title, .subtitle{
    display: block;
  }
  main{
    margin-left: 21vw;
  }
	.checkbox{
		display: none;
	}
	.menu-toogle{
		display:none;
	}
	.articulos{
		left:20vw;
	}
  .headerlinks{
    display: block;
    width: 26vw;
    margin-top: 1vh;
  }
  .headerlinks a{
    display: inline-block;
    padding: 3px;
    border: 1px solid lightgrey;
    width: 12vw;
    margin: 3px;
    color: lightgrey;
    font-weight: bold;
  }
  .headerlinks a:hover{
    background-color: #3e3e3e;
  }
  .headerlinks a i{
    float: left;
  }
  .headerinfo h1, .headerinfo p{
    margin: 5px;
  }
  section>article{
    width: 45%;
  }

  section .comments>div{
    display: inline-block;
    width: 49%;
    margin: 3px;
  }
}
@media screen and (min-width: 1400px) {
  nav{
    top: 12vh;
    width:15vw;
    left:0vw;
  }
  nav ul li h1 {
    font-size: 1.5em;
    margin: 5px 3px 3px 3px;
  }
  nav ul li a {
    font-size: 1.2em;
  }
  nav ul li.info, nav ul li.item {
    display: none;
  }
  nav ul li.item i.material-icons{
    float: left;
  }
  main{
    margin-left: 15vw;
  }
  section>article{
    width: 30%;
  }
  section .comments>div{
    display: inline-block;
    width: 49%;
    margin: 3px;
  }
  .logo{
    height: 12vh;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: auto;
  }
  .headerinfo {
    display: inline-block;
    vertical-align: middle;
  }
  .title, .subtitle{
    display: block;
  }
  .checkbox{
    display: none;
  }
  .menu-toogle{
    display:none;
  }
  .articulos{
    left:20vw;
  }
  .headerlinks{
    display: block;
    width: 16vw;
    margin-top: 1.5vh;
  }
  .headerlinks a{
    display: inline-block;
    padding: 3px;
    border: 1px solid lightgrey;
    width: 7vw;
    margin: 3px;
    color: lightgrey;
    font-weight: bold;
  }
  .headerlinks a:hover{
    background-color: #3e3e3e;
  }
  .headerinfo h1, .headerinfo p{
    margin: 10px;
  }
  .headerlinks a i{
    float: left;
  }
}